@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.cs";
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: #202020;
  font-family: 'Helvetica', sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  font-family:'Ubuntu', sans-serif;
}

.head-tt {
  color: blue;
}

/*Navigation Bar*/

.navbar{
  position: fixed;
  background-color: #202020;
  height: 15%;
}

#navbar-op {
  padding: 0px 0px;
}

#navbar-brand-op {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

.head-tt:hover {
  color: aliceblue;
}

.fas {
  margin-bottom: 30px ;
  color: #000;
}

.fas:hover {
  color: crimson;
}

.fa {
  color: aliceblue;
  background-color: black;
  border: 10px solid black;
  border-radius: 50%;
  text-decoration: none;
  text-align: right;
}

.loginboxdesc {
  text-decoration: none;
  font-size: 12px;
  color: #000;
}


.boxes {
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  padding: 3% 3%;
  margin: 1% 1%;
}

.box-desc {
  color: #000;

}

.content {
  padding: 7% 15%;
}

.button {
  font-weight: bold;
}


.footer {
  position: absolute;
  text-align: center;
  bottom: 1px;
  right: 50%;
}

